.reset-password-form {
	display: flex;
	flex-direction: column;
	width: 500px;
	height: 100%;

	.input-container {
		display: flex;
		align-items: center;
		height: 40px;
		padding: 5px 0px;
		font-size: large;

		label {
			width: 150px;
		}

		input {
			flex: 1;
			height: 80%;
			font-size: inherit;
		}
	}

	.error-message {
		font-size: large;
		color: red;
	}

	.submit-btn {
		width: 500px;
		height: 50px;
		text-align: center;
		font-size: larger;
		font-weight: bold;
	}
}
