.search-page {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	overflow-y: hidden;

	.search-body {
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 100%;
		overflow-y: hidden;
	}
}
