.subscriptions-page {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;

	.header {
		display: flex;
		align-items: center;
		width: 100%;
		height: 50px;
		font-size: larger;
		gap: 10px;
	}

	.body {
		width: 100%;
		height: 100%;
	}
}
