.user-header {
	display: flex;
	align-items: center;
	gap: 20px;
	margin-bottom: 20px;
}

.user-header h2 {
	width: 100%;
}

.user-header .icon {
	width: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.user-nav {
	display: flex;
	width: 100%;
	height: 40px;
	gap: 10px;
	margin-bottom: 10px;
}

.user-nav button {
	height: 100%;
}
