.user-page {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;

	.header {
		display: flex;
		align-items: center;
		gap: 20px;
		margin-bottom: 20px;

		.icon {
			width: 50px;
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
		}

		.title {
			width: 100%;
		}
	}

	.body {
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 100%;
	}
}
