.App {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

.ContentWrapper {
	background-color: white;
	color: black;
	display: flex;
	width: 100%;
	flex: 1;
	overflow: hidden;
}

.Content {
	overflow-y: auto;
	padding: 20px;
	display: flex;
	flex-direction: column;
	flex: 1;
}
