.comment {
	display: flex;
	flex-direction: column;
	border: 1px solid black;
	padding: 5px;
	width: 1;
	height: 150px;

	.comment-community {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 5px;
		width: 100%;
		height: 30px;
	}

	.comment-user {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 5px;
		width: 100%;
		height: 30px;
	}

	.comment-info {
		width: 100%;
		height: 100%;
	}

	.comment-actions {
		display: flex;
		flex-direction: row;
		align-items: center;
		height: 40px;
		gap: 10px;

		button {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			gap: 10px;
			height: 100%;
		}

		.rating-actions {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			height: 40px;
			gap: 10px;
			border: black solid 1px;
			background-color: lightgray;
		}
	}
}
