.community-posts {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	padding: 5px;
	box-sizing: border-box;

	.create-post-button {
		width: 100%;
		height: 40px;
		margin-bottom: 5px;
	}

	.post-feed {
		display: flex;
		flex-direction: column;
		gap: 10px;
		width: 100%;
		height: 100%;
		overflow-y: auto;
	}
}
