.DropdownMenu {
	position: relative;
	height: 100%;
}

.DropdownHeader {
	padding: 0px 5px;
	height: 100%;
	display: flex;
	align-items: center;
	cursor: pointer;
}

.DropdownHeader:hover {
	background-color: #777;
}

.DropdownHeader .Icon {
	width: 30px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.DropdownBody {
	background-color: black;
	color: white;
	position: absolute;
	margin: 0;
	padding: 10px 0;
	top: 100%;
	right: 0;
	width: 200px;
	z-index: 1000;

	display: flex;
	flex-direction: column;
}
