.NavigationItem {
	height: 100%;
	cursor: pointer;
	display: flex;
	align-items: center;
	padding: 0px 5px;
	border: 1px solid transparent;
}

.NavigationItem:hover {
	background-color: #777;
	border: 1px solid black;
}

.NavigationItem.active {
	background-color: rgb(200, 0, 0);
	border: 1px solid black;
}
