.Sidebar nav {
	background-color: rgb(200, 0, 0);
	color: black;
	width: 300px;
	display: flex;
	padding: 10px;
}

.Sidebar ul {
	list-style-type: none;
	width: 100%;
	padding: 0;
	margin: 0;
}

.Sidebar li {
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: large;
}

.Sidebar li:hover {
	background-color: #777;
}

.Sidebar li.active {
	background-color: black;
	color: white;
}

.Sidebar a {
	color: inherit;
	text-decoration: none;
}
