.Sidebar {
	background-color: black;
	color: white;
	width: 300px;
	display: flex;
	padding: 20px 0px;
}

.Sidebar ul {
	list-style-type: none;
	width: 100%;
	padding: 0;
	margin: 0;
}

.Sidebar li.SidebarGroup {
	height: auto;
}
