.modal-overlay {
	background-color: rgba(0, 0, 0, 0.75);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	.modal-content {
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 100%;
		max-width: 500px;
		max-height: 500px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-color: rgb(25, 25, 25);
		color: white;
		padding: 30px 60px;
		border-radius: 10px;

		.modal-header {
			display: flex;
			align-items: center;

			.title {
				flex: 1;
				text-align: center;
			}

			button {
				font-size: larger;
				font-weight: bold;
				width: 35px;
				height: 35px;
			}
		}

		.modal-body {
			flex: 1;
			display: flex;
			flex-direction: column;

			.input-container {
				display: flex;
				align-items: center;
				height: 40px;
				padding: 5px 0px;
				font-size: large;

				label {
					width: 150px;
				}

				input {
					flex: 1;
					height: 80%;
					font-size: inherit;
				}
			}

			.textarea-container {
				display: flex;
				flex-direction: column;
				height: 150px;
				padding: 5px 0px;
				font-size: large;

				label {
					width: 100%;
				}

				textarea {
					flex: 1;
					width: 100%;
					height: 100%;
					margin-top: 10px;
					font-size: inherit;
				}
			}
		}

		.modal-footer {
			display: flex;
			flex-direction: column;
			text-align: left;

			.submit-btn {
				flex: 0 1 50px;
				text-align: center;
				font-size: larger;
				font-weight: bold;
			}

			.error-message {
				color: red;
			}
		}
	}
}
