.NavigationMenu {
	height: 50px;
	width: 100%;
	display: flex;
	align-items: center;
	flex-shrink: 0;
	padding: 0;
	border-bottom: 1px solid black;

	ul {
		list-style-type: none;
		height: 100%;
		box-sizing: border-box;
		padding: 0;
		padding-bottom: 10px;
		margin: 0;
		display: flex;
		flex-direction: row;
		gap: 10px;
	}
}
